* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
}
header,
footer {
    background-color: #abcdef;
    border-radius: 20px;
}
main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: 
        "nav article aside";
}
article,
aside,
nav{
    background-color: rgb(184, 255, 170);
    border-radius: 20px;
}
article {
    grid-area: article;
}